/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: solid 1px red; */
  font-family: Euclid;
}

@font-face {
  font-family: Euclid;
  src: url("../public/assets/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Regular.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../public/assets/Poppins/Poppins-Bold.ttf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #858488;
}

.toggler {
  flex: 0.3;
  display: none;
}

.toggler-icon div {
  width: 25px;
  height: 2px;
  background: black;
  margin: 5px 0px;
  transition: 0.3s ease;
}

.toggler-icon .line-two {
  width: 20px;
}

.toggle .line-one {
  width: 25px;
  height: 2px;
  background: black;
  margin: 5px 0px;
  transform: translate(-5px, 7px) rotate(-45deg);
}

.toggle .line-two {
  width: 25px;
  height: 2px;
  background: black;
  margin: 5px 0px;
  opacity: 0;
}

.toggle .line-three {
  width: 25px;
  height: 2px;
  background: black;
  margin: 5px 0px;
  transform: translate(-5px, -7px) rotate(45deg);
  color: #3d3d775e;
}

.toggler-icon div {
  width: 25px;
  height: 2px;
  background: black;
  margin: 5px 0px;
}

.hero-headers {
  font-size: 2.3rem;
  color: black;
  font-family: Poppins;
  font-weight: 700;
}

.section-container {
  padding: 3rem;
}

.highlight {
  color: #bda9e9;
}

.section-headers {
  font-size: 1.8rem;
  color: black;
  font-family: Poppins;
  margin-bottom: 2rem;
  font-weight: 700;
  color: #54354d13;
  
}

.profile-subhead {
  color: #656565;
}

.section-description {
  font-size: 1.1rem;
  color: #4f4f4f;
  margin-bottom: 1rem;
}

.contact-description {
  font-size: 1rem;
  color: #4f4f4f;
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .toggler {
    display: block;
    flex: 0.1;
  }

  .section-headers {
    font-size: 1.3rem;
    color: black;
    font-family: Poppins;
  }

  .blog-headers {
    font-size: 1.2rem;
    color: white;
    font-family: Poppins;
  }

  .blog-description {
    font-size: 1rem;
    color: #dadada;
  }
}
